* {
    font-family: 'Press Start 2P', cursive;
   
}

 body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    color: black;  
} 

 
#game-info {
    border-color:black;
    border-style: solid;
    padding: 10px;
    color: black;
}

body {
    background-image: url("https://imgur.com/rOCcoLM.png");
    background-position: center; 
}
 
button {
    padding: 10px;
    margin: 16px;
    border-color: white;
    color: white;
    background-color: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
 }

 #button0 {
    color: #FFD3D4;
    background-color: #FFD3D4;
    border-color: black;
 }

 #button1 {
     color: #F5FFAD;
     background-color: #F5FFAD;
    border-color: black;
}

#button2 {
     color: #A6FFB7;
     background-color:#A6FFB7;
    border-color: black;
}

#button3 {
     color: #CFDBFF;
     background-color: #CFDBFF;
    border-color: black;
}

#button4 {
     color: #ff6d73;
     background-color: #ff6d73;
    border-color: black;
}

#button5 {
     color: #ECB6FF;
     background-color: #ECB6FF;
    border-color: black;
}

#button6 {
     color: #FFEFBE;
     background-color: #FFEFBE;
    border-color: black;
}
#replay-btn {
    border-radius: 1%;
    width: 170px;

}
 #game-info {
    text-align: center;

    
 }

td {
    flex-direction: row;
    height: 80px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 50%;
}

#game-info {
    justify-items: center;
    border: none;

}
 
/* #table {
    background-color: red;

} */

#htp {
    text-align: center;
}



