* {
    font-family: 'Gloria Hallelujah', cursive;
   
}
h1 {
    font-size: 50px;
}
h4 {
    font-size: 20px;
}
 body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    color: BLACK;  
} 

 
#game-info {
    border-color:black;
    border-style: solid;
    padding: 10px;
    color: black;
}

body {
    background-image: url("https://imgur.com/rOCcoLM.png");
    background-position: center;
    background-size: cover; 
}
 
button {
    padding: 12px;
    margin: 17px;
    border-color: white;
    color: white;
    background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
 }

#button0 {
    color: #FFD3D4;
    background-color: #FFD3D4;
    border-color: black;
 }

#button1 {
    color: #F5FFAD;
    background-color: #F5FFAD;
    border-color: black;
}

#button2 {
    color: #A6FFB7;
    background-color:#A6FFB7;
    border-color: black;
}

#button3 {
    color: #CFDBFF;
    background-color: #CFDBFF;
    border-color: black;
}

#button4 {
    color: #ff6d73;
    background-color: #ff6d73;
    border-color: black;
}

#button5 {
    color: #ECB6FF;
    background-color: #ECB6FF;
    border-color: black;
}

#button6 {
    color: #FFEFBE;
    background-color: #FFEFBE;
    border-color: black;
}
#replay-btn {
    border-radius: 1%;
    width: 130px;
    border-color: white;
    font-size: 15px;

}
 
#game-info {
    text-align: center; 
 }

td {
    flex-direction: row;
    height: 80px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 50%;
}

#game-info {
    justify-items: center;
    border: none;
    font-size: 50px;
    font-family: 'Gloria Hallelujah', cursive;

}
 
/* #table {
    background-color: black;
} */

#htp {
    text-align: center;
}


#cb {
    text-align: center;
}

div {
    padding: 10px;
    font-size: 10px;
}
#htp, #cb, #contact {
    font-family: 'Press Start 2P', cursive;
}

#bcode {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 30px;
}


/* iPhone 6, 7, & 8 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .drop-buttons {
        margin: 10;
        padding: 1px;
        margin: 1px;
    }
    button {
        padding: 2px;
        margin: 3px;
        flex-wrap: nowrap;
        height: 30px;
        width: 30px;
    }
    h1 {
        text-align: center;
    }
    td {
        height: 50px;
        width: 50px;
        border-radius: 50%
    }


}

/* have button colors change colors whenever it's the current players turn */